<mat-card class="user-info-card">
  <mat-card-content>
    <div class="user-info-card-data">
      <div class="user-info-card-img">
        <img src="assets/user-icon.svg" alt="user" id="user-icon"/>

        <div class="user-info-card-details">
          <span>Bem vindo Usuário</span>
          <span>Permissão</span>
        </div>
      </div>

      <div class="user-info-card-options">
        <ul>
          <li>Usuários</li>
          <li>Permissões</li>
        </ul>
      </div>
    </div>
  </mat-card-content>
</mat-card>
