<div class="container">
  <app-user-info-card></app-user-info-card>

  <div class="listing-container">
    <div class="listing-title">
      <h2>Usuários</h2>
      <button mat-flat-button color="primary">Adicionar Usuário</button>
    </div>

    <hr class="listing-container-line">

    <mat-card class="card-2">
      <mat-card-content>
        <div class="card-2-title-wrapper">
          <h3>Lista de usuários</h3>
        </div>

        <div class="card-2-content-wrapper">
          <span>Buscar</span>
          <input type="text" placeholder="Buscar usuário" id="search-user"/>

          <app-users-table></app-users-table>

          <mat-paginator
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page"
          ></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
